* {
    font-family: sans-serif;
}

#hyperlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hyperlinks > li {
    float: left;
}

#hyperlinks > li a {
    display: block;
    text-align: center;
    padding: 5px;
    color: blue;
}

a {
    color: blue;
}

button > a {
    color: black;
    text-decoration: none;
}

.pronounce, .word{
    margin-top: 0;
    margin-bottom: 0;
}