@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: Roboto Mono;
    background-color: #111820;
    color: #EEDAEA;
}

h1, h3 {
    color: #CF6ADD;
}

#hyperlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hyperlinks > li {
    float: left;
}

#hyperlinks > li a {
    display: block;
    text-align: center;
    padding: 5px;
}

button > a {
    text-decoration: none;
}

.pronounce, .word{
    margin-top: 0;
    margin-bottom: 0;
}